:root {
  --green: #71A300;
  --yellow: #FFCD00;
  --teal: #008E92;
  --purple: #653C5F;
  --orange: #DF6F34;
}
/*----------------------------------------------*/
/*---------------home page styling---------------*/
/*----------------------------------------------*/
.Home-bg{
background-color: var(--green) !important;
align-items: center; 
 justify-content: center;
 background-image:  url("../images/welcome2.png");
 background-repeat: no-repeat;
 background-size: auto 50%;
 background-position-x: -5rem;
}

.home-heart-sheild{
stroke: black;
mix-blend-mode: multiply;
width:auto; 
height: 40vh;
margin: -40px;
z-index: 0;

}

.Home-bg .hero-copy{ 
z-index: 1;

}
.floor-1-bg{
background-color: var(--teal) !important;
background-image: url("../images/QH_headquarters_dublin_01_1st.png");
background-blend-mode: multiply;
background-position: -5rem -10rem;
}
.floor-2-bg{
background-color: var(--green) !important;
background-image: url("../images/QH_headquarters_dublin_01_1st.png");
background-blend-mode: multiply;
background-position: -20rem -15rem;
}
.floor-3-bg{
background-color: var(--purple) !important;
background-image: url("../images/QH_headquarters_dublin_01_1st.png");
background-blend-mode: multiply;
background-position: -45rem -45rem;
}
.floor-4-bg{
background-color: var(--orange) !important;
background-image: url("../images/QH_headquarters_dublin_01_1st.png");
background-blend-mode: multiply;
background-position: -75rem -80rem;
}


h2{
font-weight: 200;
}

.section-header{
  color: #828282;
}

.underline{

}

/*----------------------------------------------*/
/*---------------FLoor LL styling---------------*/
/*----------------------------------------------*/

.floor-LL-bg{
background-color: var(--yellow) !important;
color: black !important;
}

.floor-LL-bg h1{
color: black !important;
}

.floor-LL-bg .pillar-underline{
border: 1px black solid !important;
}

@media screen and (min-width: 768px){
    .home-pillar-container{
    justify-content:center;
    text-align: center;
    }

    p{
    font-size: 20px;
    }

    .pillar-cards {
    width: 200px !important;
    max-width: 200px !important;
    }

    .pillar-img{
    width: 200px !important;
    max-width: 200px !important;

    }
    h3{
    font-size:1.5rem; 
    }

}