.button-container{
    padding:0 ;
    text-align: right;

}

.button-row{
    padding: 2rem;
    align-content: right;
}

.button-flr-1{
    background-color: #008E92;
}

.button-flr-2{
    background-color: #71A300;
}

.button-flr-3{
    background-color: #653C5F;

}

.button-flr-4{
    background-color: #DF6F34;

}

.button-flr-ll{
    background-color: #FFCD00;


}