.pillar-container{
    padding: 4rem 2rem;
}

.pillar-underline{
    width: 50px;
}

.section-header{
    padding-bottom: 2.5rem;
}

.pillar-content > h1{
    padding-bottom: .75rem;
    text-align:left;
}

.pillar-content{
    padding-bottom: 1.5rem;
}

img{
        width: 100%;
        max-width: 1500px;
}