.text-content-container{
    padding: 4rem 2rem 0 2rem;

}

.text-content-container h2{
    text-align: left;
    padding-bottom: 1.5rem;
}
.text-content-container p{
    padding-bottom: 1.5rem;
}

.floor-to-ceiling{
      background: url("../images/210215_building_graphics_3306_TOTO_wall_more_yellow2.png") bottom center/cover no-repeat;
      object-fit: contain;
      background-size: auto 100%;
      height: 100vh;
      justify-content: center;
      background-color: rgb(231,174,29);
    background-size: 100% auto;
}

.section-header h2{
    padding-bottom: 0;

}
