.easter-egg-container{
    padding: 2rem 3.5rem;

    /* background-color: #b5b5b5; */
}

.easter-egg-image{
    text-align: center;
    /* border-left: solid 70px transparent; 
  border-right: solid 70px transparent; 
  border-bottom: solid 70px #fff; */
  filter: drop-shadow(0 0 10px rgb(97, 97, 97));
}

.easter-egg-card{
    background-color: #8f8f8f;
    Height: 100vh;
    position: absolute;
    top: 50%;
    width: 100%;
    left:0;
    z-index: -1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.easter-egg-content{
    padding: 2rem 0;
    text-align: left;
}
.easter-egg-content h1{
    padding: 2rem 0;
    text-align: left;
}
.easter-egg-content p{
    padding: 2rem 0;
}

.easter-egg-card-container{
    overflow: hidden;
}